{% extends "base.html" %}
{% load bootstrap %}
{% block maincontent %}
<h1 class="red"> About us </h1>
<br/>
<br/>
<p>
	OfficeSetup offers wide range of support services to users for various products like desktops laptops, printers, software and other peripheral devices. Technical support services attempt to solve the specific problem with a product—rather than providing training, customization, or other support services. OfficeSetup support is delivered over the telephone or online via e-mail or a website or a tool where users can login and highlight the problem.
</p>
<br/>
<br/>
<p>
	OfficeSetup offers subscription packages, it cost the same for a year plan what a normal user pay for an incident/event supporting a local technician. It saves time if the user does not need to ruin your computer by leaving to some TECHNICAL STORE.OfficeSetup is one of a kind ONLINE TECHNICAL SUPPORT SERVICES company, which not only provide better services at lower costs, but also save you time and make your life easy, for it is said the best come in small packages. Installoffice365 is just a phone call away +44-0800-051-6702 where the user is not only accessible to a SMART TECH EXPERT Anytime, 7 days a week, but also useful information about securing computers and network
</p>
<br/>
<br/>
<p>
	OfficeSetup works with leading technology partners to gain in depth technical expertise. This, in turn helps us to add value to all our technical support.
<p>

{% endblock %}