{% extends "base.html" %}
{% load bootstrap %}
{% block maincontent %}
<h1 class="red"> Privacy </h1>
<br/>

<h3> Privacy policy refers to the practices of officesetup-support to protect the privacy of its users. </h2>

<h3 class="red">
Your Personal Information
</h3>
<p>
	You can confirm, change, or update your personal information you have provided to us by contacting us via phone or e-mail. If you want to opt-out of communications from the company, you can do same by sending us an email request. You can opt-in again.When you opt-out of promotional communications from us, you may still receive service messages like an order confirmation, other messages that relate to the ability to use the services you have purchased from us.
</p>
<br/>

<h3 class="red">
	Information Collected
</h3>
<p>
	We collect information from you in various ways when you use our Sites and Applications. We may collect personal information from you directly via our sites. In addition, we may collect personal information from you as a user of our Applications. Information we collect includes name and email address, contact number, other information like your gender, education, birth date, preferences, and interests, and any other information requested from you. When you visit our Sites some information may be automatically collected. For example, it is standard for your Web browser to automatically send information to every Web site you visit (including ours) This information includes your computer Internet Protocol (IP) address, access times, browser type and language, and referring Web site addresses. We may also collect information about your computer operating system and information about your usage and activity on our Sites.
</p>
<br/>

<h3 class="red">
	Security of the Information We Collect
</h3>
<p>
	We are committed to protect the security of your personal information, and we use a range of technologies and procedures to protect your personal information. For example, we store personal information in a secure, limited access facility; sensitive information transmitted to us through our store (such as a credit card number) is encrypted for transmission using the Secure Socket Layer (SSL) protocol. The SSL encryption is designed to make the information unreadable to anyone but us.
</p>
<br/>



<h3 class="red">
	Cookies
</h3>
<p>
	We may automatically collect certain information through the use of cookies. Cookies are small data files that are stored on your hard drive by a Web site. The use of cookies helps us to improve our Sites and your experience. We use cookies to see which areas and features are most popular, to count the number of computers accessing our Sites, to personalize your experience, and to remember your preferences. If your browser is set not to accept cookies or if you reject a cookie, you may not be able to access certain features or services of our Sites.
</p>

<br/>

<h3 class="red">
	Recording of Call
</h3>
<p>
	We may record the support call to maintain our internal quality. This would be explicitly told to you and you are at liberty to disconnect the call and request for a call which may not be recorded.
</p>
<br/>


<h3 class="red">
	Links to Other Websites
</h3>
<p>
	Our Site may contain links to other websites. If you use these links, you will be directed to other website. When you access a non-officesetup-support website, that may contain an officesetup-support , please be aware that we do not control the content and we are not responsible for the privacy practices of those site and we encourage you to review the privacy policies of each site before you use. This Privacy Statement does not cover the information practices of those websites linked to our website. These other sites may send their own cookies to users, collect data, or solicit personal information.
</p>
<br/>



<h3 class="red">
	Changes to this Statement
</h3>
<p>
	We may update our privacy statement whenever required. If we make a material change to this statement that affects the use of your personal information, we will update users by placing a notice on our website
</p>
<br/>
{% endblock %}